@import "tailwindcss";

@theme {
  --color-background-dark: #141414;
  --color-background-light: #2A2A2A;
  --color-accent-dark: #f1c00e;
  --color-accent-light: #f9e69a;
  --color-text-dark: #e4d5c3;
  --color-text-light: #f9f6f1;
  --color-shadow-dark: #374149;
  --color-shadow-light: #4d5766;
}

.color-props-range {
    @apply w-full h-2 rounded-md appearance-none cursor-pointer accent-accent-dark bg-accent-light/50 border-0 [&::-webkit-slider-thumb]:appearance-none [&::-webkit-slider-thumb]:w-2
        [&::-webkit-slider-thumb]:h-2 [&::-webkit-slider-thumb]:bg-accent-dark/80 [&::-webkit-slider-thumb]:cursor-pointer [&::-webkit-slider-thumb]:rounded-full 
        [&::-webkit-slider-thumb]:border-0 [&::-webkit-slider-thumb]:p-2 [&::-moz-range-thumb]:w-2 [&::-moz-range-thumb]:h-2
        [&::-moz-range-thumb]:bg-accent-dark/80 [&::-moz-range-thumb]:cursor-pointer [&::-moz-range-thumb]:rounded-full [&::-moz-range-thumb]:border-0 [&::-moz-range-thumb]:p-2;
}